---
---

@import "monokai.css";

img {
  max-width: 100%;
}

p {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (min-width: 768px) {
  img {
    max-width: 80%;
  }

  .highlight pre {
    font-size: 2.3vw;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 1.1rem;
  }
}

.language-plaintext {
  color: white;
}
